* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    background-color: #007bff;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
  }






  
  main {
    flex: 1;
    padding: 0;
  }
  
  #map {
    height: 100%;
    width: 100%;
  }
  
  
  .container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #e0f7fa, #80deea);
  background-repeat: no-repeat;
  background-size: cover;
}
.auth-page .container {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(177, 98, 98, 0.639);
}
/* Center layout for dashboard pages like admin and user */
.dashboard-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8;
  background: linear-gradient(135deg, #e0f7fa, #80deea);
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-page .container {
  text-align: center;
  padding: 40px;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}
